// .congratulations{
//   background: url('../image/congratulations.jpg');
//     width: 100%;
//     height: 400px;
//     // background-image: url('img_flowers.jpg');
//     background-repeat: no-repeat;
//     background-size: contain;
//     // border: 1px solid red;
// }


// img{
//   width: 100%;
//   height: 400px;
// }

img {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 500px;
   height: 500px;
   margin-top: -250px; /* Half the height */
   margin-left: -250px; /* Half the width */
}
